* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color: #ffffff;
}

button {
  display: block;
  padding: 0;
  color: #ffffff;
  background-color: transparent;
  border: 0;
  opacity: 0.6;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

button:hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

button:active {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  height: 100vh;
  padding: 10px 20px;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
  z-index: 1;
}

.background-shadow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000030;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 0.5s ease-out;
  z-index: 2;
}

.widgets {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row--top {
  align-items: flex-start;
}

.player__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.player__controls {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.player__duration-wrapper {
  opacity: 0.75;
}

.player__btn {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.player__btn--play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 25px;
}

.icon-play {
  background-image: url("../assets/svg/play.svg");
}

.icon-pause {
  background-image: url("../assets/svg/pause.svg");
}

.icon-previous {
  background-image: url("../assets/svg/back.svg");
}

.icon-next {
  background-image: url("../assets/svg/forward.svg");
}

.icon-volumeHigh {
  width: 24px;
  background-image: url("../assets/svg/volume.svg");
}

.icon-volumeMute {
  width: 24px;
  background-image: url("../assets/svg/mute.svg");
}

.player__range {
  height: 4px;
  opacity: 0.75;
  -webkit-appearance: none;
  transition: opacity 0.4s ease-in-out;
}

.player__range:hover {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.player__range::-ms-track {
  width: 100%;
  color: transparent;
  background: transparent; 
  border-color: transparent;
  cursor: pointer;
}

.player__range::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
}

.player__range::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.player__range::-ms-thumb {
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.player__progress-bar {
  width: 240px;
}

.player__volume {
  width: 80px;
}

.player__item {
  position: relative;
  width: fit-content;
  padding-left: 20px;
  cursor: pointer;
}

.player__item.active {
  color: #0bdbac;
}

.player__item::before {
  position: absolute;
  display: block;
  content: "";
  top: 3px;
  left: 0;
  width: 10px;
  height: 20px;
  background-image: url("../assets/svg/play.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.75;
  transition: opacity 0.4s ease-in-out;
}

.player__item.active:before {
  filter: invert(0.19) sepia(1) saturate(20) hue-rotate(83deg) brightness(0.9);
}

.player__item:hover::before {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.player__item.playing::before {
  background-image: url("../assets/svg/pause.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.weather__city {
  width: 14ch;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  color: #ffffff;
  border: 0;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
}

.weather__city:focus {
  outline: 1px solid #ffffff;
  border-radius: 5px;
}

.weather-desc-container {
 display: flex;
 align-items: center;
 column-gap: 10px;
 height: 30px;
}

.weather__icon {
  font-size: 40px;
  line-height: 40px;
  color: #ffffff;
}

.weather__temperature {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -2px;
}

.weather__description {
  text-transform: capitalize;
}

.weather__error-text {
  display: none;
}

.weather__error-text.active {
  display: block;
}

.slider__icon {
  position: absolute;
  top: 50%;
  width: 26px;
  height: 44px;
  color: #ffffff;
  opacity: 0.75;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  cursor: pointer;
}

.slider__icon:hover {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.slider__icon--back {
  transform: rotate(180deg) scale(1);
}

.slider__icon--back:active {
  transform: rotate(180deg) scale(1.2);
  transition: transform 0.3s ease-out;
}

.slider__icon--forward:active {
  transform: scale(1.2);
  transition: transform 0.3s ease-out;
}

.slider__icon::before,
.slider__icon::after {
  width: 30px;
}

.slider__icon--back {
  left: 20px;
}

.slider__icon--forward {
  right: 20px;
}

.row--middle {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.time__clock {
  font-size: 120px;
  font-weight: 500;
  letter-spacing: 4px;
}

.date__text {
  font-size: 30px;
}

.greeting {
  display: flex;
  height: 62px;
  font-size: 50px;
  font-weight: 400;
}

.greeting__message {
  margin-right: 1rem;
}

.greeting__name.active {
  display: block;
}

.greeting__name {
  display: none;
}

.greeting__name-input {
  display: none;
  min-width: 5ch;
  max-width: 20ch;
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  color: #ffffff;
  border: 0;
  background-color: transparent;
  outline: none;
}

.greeting__name-input.active {
  display: flex;
}

.greeting__name-input:focus {
  border-bottom: 2px solid #ffffff;
}

.greeting__name-input::placeholder {
  color: #ffffff;
  opacity: 0.7;
}

.greeting__name-input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.7;
}

.greeting__name-input::-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.7;
}

.pike::after {
  position: absolute;
  display: block;
  height: 0;
  width: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.pike--bootom-left {
  bottom: 0;
  border-top: 7px solid rgba(255, 255, 255, 0.95);
  left: 22px;
}

.widget-wrapper {
  position: absolute;
  display: none;
}

.row--bottom {
  min-height: 180px;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  text-align: center;
}

.quote__update {
  margin-top: auto;
}

.quote__text {
  max-width: 50ch;
  font-size: 22px;
}

.quote__author {
  min-height: 20px;
}
